@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Oswald:wght@600&family=Oswald:wght@600&family=Pacifico&family=Rowdies:wght@300;400&family=Rowdies:wght@300;400&display=swap');*{
    
    margin: 0px;
    padding: 0px;
    transition: 4s;
}
div.navbar div{
    margin: 5px;
}
.navb{
    border: 1px solid #0f0736;
    background-color: #382c03;
    padding: 2px;
    height: 70px;
}
#home{
    background-color: #000000;
}
#home a{
    color: white;
}
#albums{
    background-color: #030801;
    margin-right: 20px;
}
#albums a{
    color: white;
}
.links {
    border: 1px solid black;
    display: inline;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    transition: .4s;
    padding: 5px;
    border-radius: 10px;
}
.links:hover{
    transition: .4s;
    font-size: larger;
    padding: 6px;
}
#linksgroup{
    text-align: right;
    float: right;
    margin-top: 25px;
}
.links a {
    text-decoration: none;
}
#logo{
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: 60px;
    height: 60px;
}
.footer{
    background-color: #382c03;
    position: fixed;
    bottom: 0%;
    padding: 10px;
    margin-bottom: 0px;
    width: 100%;
}
#copyright{
    float: left;
    position: fixed;
    bottom: 19px;
    left: 20px;
    color: white;
    font-style: italic;
    font-family: 'Lora', serif;
    font-size: smaller;
}
#socmed img{
    width: 30px;
}
#insta, #twitter, #facebook{
    padding-right: 10px;
    float: right;
    opacity: 0.7;
    transition: .4s;
    margin-right: 10px;
}
#insta{
    margin-right: 25px;
}
#facebook:hover, #insta:hover, #twitter:hover{
    opacity: 1;
    transition: .4s;
}
.banner{
    background-image: url('images/bground2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 600px;
}
.bannertext{
    position: absolute;
    top: 25%;
    left: 8%;
}
.bannertext h1{
    font-size: 3.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a07121;
    text-shadow: -2px 2px 0 #000,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
}
.bannertext h1 span{
    font-family: 'Pacifico';
    font-weight: lighter;
    color: #e5d3b3;
    text-shadow: -2px 2px 0 #8a2020,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
}
.bannertext p{
    margin-top: 10px;
    color: #bdbdbd;
    font-family: 'Poppins';
    font-size: larger;
    text-shadow: -1px 1px 0 #1d1302,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
}
.bannertext a{
    text-decoration: none;
    display: inline-block;
    color: white;
    text-shadow: -1px 1px 0 #000000,1px 1px 0 #000000,1px -1px 0 #000000,-1px -1px 0 #000000;
    background-color: #382c03;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1em;
    font-weight: bold;
    transition: .4s;
}
#bannerlink:hover{
    transition: .4s;
    font-size: large;
    padding: 6px;
}
body{
    background-color: #ffffff;
}
.albums{
    margin: 10px;
    margin-top: 65px;
    text-align: center;
}
.albums h1{
    position: absolute;
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 0);
    top: 13%;
    left: 3%;
}
.images img{
    margin: 4px;
    border: 5px solid black;
    border-radius: 10px;
    width: 11%;
}
